<div class="row game-container">
  <player-data class="col-md-3" [player]="user" [game]="game"></player-data>
  <div class="col-md-6">
    <div class="panel-container actual-player-container">
      <div class="col-md-6">
        {{nextPlayerName}}'s turn!
      </div>
      <div class="col-md-6">
        Mine count: {{mineCount}}
      </div>
    </div>
    <fields [game]="game"></fields>
  </div>
  <player-data class="col-md-3" [isOpponent]="true" [player]="opponent" [game]="game"></player-data>
</div>
