<div class="row game-container">
  <player-data class="col-md-3" [player]="user" [game]="game" [score]="userScore"></player-data>
  <div class="game-fields-container col-md-6">
    <div class="panel-container actual-player-container">
      <div [ngClass]="{'col-md-4': isEnded, 'col-md-6': !isEnded}">
        {{nextPlayerName}}'s turn!
      </div>
      <div [ngClass]="{'col-md-4': isEnded, 'not-show': !isEnded}">
        <button (click)="goToPlayers()" class="btn btn-success accept-btn" type="button">New game</button>
      </div>
      <div [ngClass]="{'col-md-4': isEnded, 'col-md-6': !isEnded}">
        Mine count: {{mineCount}}
      </div>
    </div>
    <fields [game]="game"></fields>
  </div>
  <player-data class="col-md-3" [isOpponent]="true" [player]="opponent" [game]="game" [score]="opponentScore"></player-data>
</div>
