.game-container {
  margin: 15px;
}

.game-container .actual-player-container {
  display:flex;
  justify-content:center;
  align-items:center;
  margin-bottom: 15px;
  text-align: center;
}

.game-container .not-show {
  display: none;
}

.player-change {
  font-weight: bold;
  -webkit-animation:animatezoom 1s;
  animation:animatezoom 1s
}

@keyframes animatezoom {
  from {
    transform:scale(1)
  }
  to {
    transform:scale(1.1)
  }
}

@-webkit-keyframes animatezoom {
  from {
    -webkit-transform:scale(1)
  }
  to {
    -webkit-transform:scale(1.1)
  }
}

@media screen and (max-width: 600px) {
  .game-fields-container {
    padding: 0;
  }
}
