.login-container {
  display:flex;
  justify-content:center;
  align-items:center;
  margin-top: 100px;
}

.login-container .game-title {
  margin-bottom: 100px;
  margin-top: 50px;
  text-align: center;
}
