.login-container {
  display:flex;
  justify-content:center;
  align-items:center;
}

.login-container .game-title {
  margin-bottom: 100px;
  margin-top: 50px;
  text-align: center;
  color: yellow;
}

.login-container .login-form-container {
  border: 1px solid #6e6e6e;
  background-color: rgba(100,100,100,0.6);
  margin-top: 50px;
  padding-bottom: 15px;
  border-radius: 10px;
}

.login-container .login-form-container .login-name-label {
  color: yellow;
}
