<div class="login-container">
  <div class="panel-container login-form-container col-md-6">
    <h1 class="game-title">
      {{title}}
    </h1>
    <form class="login-form" (ngSubmit)="login(userName.value)" #userForm="ngForm">
      <div class="form-group">
        <label class="login-name-label" for="name">Please enter your name! *</label>
        <input class=" form-control login-name" placeholder="User name"
               #userName id="name" name="name" type="text" required>
      </div>
      <button class="btn btn-primary login-btn" type="submit" [disabled]="!userForm.form.valid">Login</button>
    </form>
  </div>
</div>
