.fields-container {
  display: flex;
  justify-content:center;
  align-items:center;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.fields-container .field-table {
  background-color: rgba(255, 255, 255, 0.9);
}

@media screen and (max-width: 600px) {
  .fields-container {
    overflow-x: auto;
    display: block;
  }
}
