.field-container {
  border: 1px solid black;
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.field-container .flag {
  max-width: 100%;
  max-height: 100%;
}

.field-container .half {
  width: 50%;
  height: 50%;
  border-radius: 50%;
  display:flex;
  justify-content:center;
  align-items:center;
}

.wrong-mark-opponent {
  background-color: lightpink;
}

.wrong-mark-me {
  background-color: lightblue;
}

.field-container.field-action {
  background-color: #bbbbbb;
  -webkit-animation:animatezoom 1s;
  animation:animatezoom 1s
}

@keyframes animatezoom {
  from {
    transform:scale(1)
  }
  to {
    transform:scale(1.1)
  }
}

@-webkit-keyframes animatezoom {
  from {
    -webkit-transform:scale(1)
  }
  to {
    -webkit-transform:scale(1.1)
  }
}

@media screen and (max-width: 600px) {
  .field-container {
    width: 25px;
    height: 25px;
  }
}
