.field-container {
  border: 1px solid black;
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.field-container .flag {
  max-width: 100%;
  max-height: 100%;
}
