<div class="panel-container connect-waiting">
  <div class="waiting-text">
    {{waiting}}
  </div>
  <div class="cssload-loading centerize">
    <div class="cssload-finger cssload-finger-1">
      <div class="cssload-finger-item">
        <span></span><i></i>
      </div>
    </div>
    <div class="cssload-finger cssload-finger-2">
      <div class="cssload-finger-item">
        <span></span><i></i>
      </div>
    </div>
    <div class="cssload-finger cssload-finger-3">
      <div class="cssload-finger-item">
        <span></span><i></i>
      </div>
    </div>
    <div class="cssload-finger cssload-finger-4">
      <div class="cssload-finger-item">
        <span></span><i></i>
      </div>
    </div>
    <div class="cssload-last-finger">
      <div class="cssload-last-finger-item"></div>
    </div>
  </div>
</div>
