<div class="modal-container modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">
          {{title}}
        </h4>
      </div>
      <div class="modal-body">
        {{text}}
      </div>
      <div class="modal-footer modal-buttons">
        <button class="btn btn-default" (click)="onCancel()" *ngIf="close">
          <span>Cancel</span>
        </button>
        <button class="btn btn-primary" (click)="onOk()" *ngIf="ok">
          <span>Ok</span>
        </button>
      </div>
    </div>
  </div>
</div>
