/* You can add global styles to this file, and also import other style files */
body {
  background-image: url("./assets/logo.png");
}

.panel-container {
  border: 1px solid #6e6e6e;
  background-color: rgba(100,100,100,0.6);
  padding: 15px;
  border-radius: 10px;
  color: yellow;
}
